@charset "utf-8";
/*------------ 【 關於我們 】 section_about_us ------------*/
.section_about_us { margin-bottom:50px;}
.section_about_us,
.section_about_us p { color:lighten($gray_dark, 20);}
.section_about_us .title_1 { font-size:17px; margin-bottom:30px;}


/*pad (768)*/
@include breakpoint($pad){
    .section_about_us .c1 { border-bottom:1px solid $gray; margin-bottom:20px;}
    .section_about_us .title_1 { display: none;}
}


/*------------ 關於生活倉庫頁 ------------*/
.section_about_us .story { max-width:800px; margin:0 auto; text-align:center;}
.section_about_us .story.left { max-width:100%; text-align:left;}
.section_about_us .story img { max-width:100%; margin-bottom:20px;}
.section_about_us .story p { margin-bottom:20px;}




/*------------ 聯絡我們頁 ------------*/
.section_about_us p.note { font-size:15px;}
.section_about_us .form_1 { margin-bottom:80px;}
.section_about_us .form_1 ol { max-width:680px;}
.section_about_us .form_1 .item select, 
.section_about_us .form_1 .item input { height:35px;} 
.section_about_us .form_1 .item label { font-size:14px;} 
.section_about_us .form_1 .item.address select { margin-right:0;}

.section_about_us input.short { width:260px;}
/*pad (768)*/
@include breakpoint($pad){
.section_about_us input.short { width:auto;}
.section_about_us .form_1 { margin-bottom:0px;}
.section_about_us .form_1 ol { margin-left:0px;}
.section_about_us .form input { width:calc(100% - 100px);}
.section_about_us .story .form select { width:calc(100% - 100px);}
.section_about_us .form .address select { width:calc(50% - 55px);}
.section_about_us .form input[type="submit"] { height:40px;}
}