@charset "utf-8";
/*------------ 【 空白頁 】 section_blank ------------*/
.section_blank { max-width:220px; text-align: center; margin:80px auto; padding:20px;}
.section_blank .pic { margin-bottom:20px; margin:0 auto 20px auto;}
.section_blank .pic img { max-width:100%; height:auto;}
.section_blank p { color:$gray; line-height:2;}
/*pad (768)*/
@include breakpoint($pad){
    .section_blank { max-width:240px;}
    .section_blank .pic { max-width:200px;}
}
/*mobileM (414)*/
@include breakpoint($mobileM){
    .section_blank { margin:30px auto;}
}

/*------------ 流量過大頁 ------------*/
/*------------ 錯誤頁 ------------*/

