@charset "utf-8";
/*------------ 【 購物車 】 section_cart ------------*/
.section_cart { padding:10px 0px; @extend %clearfix;}

/*------------ step 步驟 ------------*/
.section_cart .step { text-align: center; margin:30px 0 120px 0;}
.section_cart .step li { display: inline-block; text-align: center; padding:5px 20px;}
.section_cart .step li strong { display: block; font-size:22px; font-weight:normal;}
.section_cart .step li span { font-size:17px;}
.section_cart .step em { display:inline-block; width:35px; height:35px;
background:url("../images/icon_step.svg") no-repeat center top; background-size:100% auto;
position: absolute; right:0; top:8px; transform: rotate(-90deg); margin:0 10px; position:relative; top:-5px;}
.section_cart .step + hr { margin-bottom:40px;}
// active
.section_cart .step li.active strong { color:$red;}
.section_cart .step li.active span { color:$red;}

/*pad (768)*/
@include breakpoint($pad){
.section_cart .step { margin-bottom:40px;}  
.section_cart .step li { padding:0px;}
}



/*------------ discount 購物金 ------------*/
.discount { margin-bottom:40px; padding:0;}
.discount .box_1 { background:$gray; color:#fff; padding:30px;}
.discount .box_2 { padding:30px;}

.discount .box_1 .form { margin-bottom:0;}
.discount .box_1 .item { @extend %clearfix; max-width:490px; margin-bottom:10px;}
.discount .box_1 .item input[type="checkbox"] { margin:0 10px 0 0 ;}
.discount .box_1 .item .right { float:right; text-align: right; position: relative; top:-5px;}
.discount .box_1 .item .right input[type="text"] { height:30px; background:none; color:$white; border:none; border-bottom:1px solid $white;}
.discount .box_1 .item .right input.code { width:213px;}
.discount .box_1 .item .right select { height:35px; background-color:$white; padding-right:200px;}
.discount .box_1 .item .right .btn { padding:5px 20px; margin:0;}



/*pad (768)*/
@include breakpoint($pad){
    .discount .box_1 .item { margin-bottom: 20px;}
    .discount .box_1 .item .right { float:none; text-align: left; margin-left:10px; position:relative; top:1px;}
    .discount .box_1 .item .right.large {  width:calc(100% - 180px);}
    .discount .box_1 .item .right select { width:100%; padding-right:0;}
    .discount .box_1 .item .right input.code { width:245px;}
    .discount .box_2 { padding:20px;}
}

/*mobileS (360)*/
@include breakpoint($mobileS){
    .discount .box_1 .item .right input[type="text"] { width:100px;}
    .discount .box_1 .item .right input.code { width:100px;}
}


/*------------ amount 訂單金額 ------------*/
.center .amount { float:none; margin:0 auto 130px auto;}
.amount { width:350px; float:right; margin-bottom:130px;}
.amount .block_1 { padding:15px; margin-bottom:30px;}
.amount .title_1 { padding-bottom:10px; }
.amount p { font-size:14px; display:block; height:auto; text-align:right; margin-bottom:10px;}
.amount p span { float:left;}
.amount p em { font-style: normal; font-size:16px; color:lighten($red, 10);}
.amount a.btn { height:42px; line-height:42px; padding:0;}
.amount p.all { border-top: 1px dashed $gray; padding-top:20px; margin-top:20px; margin-bottom:0;}
.amount p.end { text-align: center;}

.amount .btn_small { width:280px; margin:0 auto;}

.amount a.arrow { position:relative;}
.amount a.arrow em {  display:inline-block; width:25px; height:28px;
background:url("../images/icon_arrow.svg") no-repeat center bottom; background-size:120% auto;
position: relative; left:10px; top:9px; transform: rotate(-90deg);}
.amount a.style_1.arrow em { background-position:center top; left:-10px; transform: rotate(90deg);}
/*pad (768)*/
@include breakpoint($pad){
.amount { width:auto; max-width:400px; float:none; margin:0 auto;}
}
/*mobile (480)*/
@include breakpoint($mobile){
.amount .block_1 { border:none;}
}



/*------------ order_block 填寫訂單資料 ------------*/
.order_block { @extend %clearfix; margin-bottom:50px;}
.order_block .title_1 { margin-bottom:20px;}
.order_block .box_1 { width:40%; float:left;}
.order_block .box_1 select { width:calc(100% - 100px);}
.order_block .box_2 { width:55%; float:right;}
.order_block .box_2 p { color:$gray; line-height:1.8em;}
.order_block .box_3 { }

.order_block .item input, 
.order_block .item select, 
.order_block .item  p { height:40px;}
.order_block .item select { background-position-y:9px;}


/* 訂單資料 */
.order_block .item.name input,
.order_block .item.phone input,
.order_block .item.branch > select { width:280px;}
.order_block .item.remark textarea { width:450px;}
.order_block .sub { padding:20px 0 0 100px;}


/* 發票資料 */
.order_block .company_show { display:none;}
.order_block input.company + label { margin-bottom:20px;}
.order_block input.company:checked ~ .company_show { display: block;}

/*pad (768)*/
@include breakpoint($pad){
.order_block .box_1 { width:100%;}
.order_block .box_1 select { width:calc(100% - 100px);}
.order_block .box_2 { width:100%;}
.order_block .box_3 { width:100%;}
}



/*------------ table_1 購物車內容 ------------*/
.section_cart .tab_2 .tab_content { padding:5px 20px 20px 20px;} 
.section_cart .tab_2 .title_1 { display:none;} 
.section_cart .title_3 { height:30px; font-size:16px; padding:0 0 0 10px; margin-top:20px;} 
.section_cart .tab_content .note { display:block; padding:30px; border-top: 1px dashed #bbb;}

// table
.table_1 { width:100%;}
.table_1 td em { color: lighten($red, 10);}
.table_1 select { height:30px; width:55px; background-position-y:3px;}
.table_1 .align_left { text-align: left;}
// thead
.table_1 thead th { font-size:15px; color: #777; padding: 15px 0; border-bottom:1px solid $gray;}
.table_1 thead th:nth-of-type(1) { text-align: left;}
// tr
.table_1 tbody tr { @extend %clearfix;}
.table_1 tbody tr + tr { @extend %clearfix; border-top: 1px dashed #bbb;}

// td
.table_1 td { padding: 12px 0; font-size:15px; line-height: 1.4; text-align: center; min-width: 76px;}
.table_1 tr td:nth-of-type(1) { text-align: left;}
.table_1 td.img { width:100px;}
.table_1 td.img img { max-width:100%;}
.table_1 td.large select { width:135px;}
// 產品名稱
.table_1 td.info { padding-left:10px;}
.table_1 td.info em { font-style: normal; margin-left:5px;}
.table_1 td.info span { font-style: normal; display: block;}
// 按鈕
.table_1 a { display: inline-block; vertical-align: middle;}
.table_1 .btn-holder { min-width: 30px;}
.table_1 .btn-holder a { display:inline-block; width:40px; height:30px; background-size:100% auto;}
.table_1 .btn-holder a:hover { background-position: center bottom;}
.table_1 .favorite a { background-image:url(../images/icon_favorite.svg);}
.table_1 .delete a { background-image:url(../images/icon_delete.svg);}
.table_1 .cart a { background-image:url(../images/icon_cart.svg);}


/*pad (768)*/
@include breakpoint($pad){
    .section_cart .title_3 { margin:5px 0; line-height:30px;} 
	.section_cart .tab_2 .tab_content { padding:10px 20px 0 20px;}
    .section_cart .tab_content h4 { display:block; width:100%;}
    .section_cart .tab_2 .title_1 { display:block; padding-bottom:10px; margin-bottom:5px; border-bottom:1px solid $gray_light;} 
    .table_1 thead { display: none;}

    .table_1 td { height:100%; padding:10px 0;}
    .table_1 td.img a,
    .table_1 td.info a{ display:flex; height:100%; justify-content:center; align-items: baseline; flex-direction: column;}
    .table_1 td a.pic { width:125px;}
    .table_1 td span { display:block; text-align: left;}
    .table_1 td[data-title]:before { content: attr(data-title); display: inline-block; color: #aaa; font-size: 13px;}
    .table_1 td.img { width:125px; vertical-align:top;}
    .table_1 td.info { width:40%; vertical-align:top; padding-left:15px;}
    .table_1 td.right { display: block; float:right; width:100%; color:$gray_dark; padding:7px 0; text-align:right;}
    .table_1 td.right.large { width:120%; margin-bottom:10px;}
    .table_1 td.margin_top { padding-top:15px;}
    
    .table_1 .btn-holder { display: block; float:right;}

}

/*mobile (480)*/
@include breakpoint($mobile){
    .table_1 tr,
    .table_1 td + td { border-left: 0;}
    .table_1 tr { padding: 10px 0; position: relative; display:block;}
    .table_1 td { padding: 0; line-height: 2;}
    .table_1 td.img { float:left; display: block; margin-top:10px; margin-bottom:10px;}
    .table_1 td.info { padding-top:10px;}
    .table_1 td.right { clear:both; float:none; text-align:left;}

    .table_1 .btn-holder { position:absolute; right:60px; bottom:0px;}
    .table_1 .btn-holder a { position:absolute; right:0px; bottom:20px;}
    .table_1 .btn-holder.delete { right:0;}
    .table_1 .btn-holder.favorite { right:40px;}
}
