@charset "utf-8";
/* CSS Document */

.section_blog_detail{ }
// title
.section_blog_detail .title{ border-bottom: 1px solid $gray; margin-bottom: 20px;}
.section_blog_detail .title h1{ font-weight: bold; font-size: 21px; letter-spacing: 2px;}
.section_blog_detail .title .date{ font-size: 15px; color: $gray_light; margin-bottom: 10px;}

.section_blog_detail .story{}

/*part_thumb_1  三欄*/
.section_blog_detail .part_thumb_1{ max-width: 900px; margin: 0 auto;}
.section_blog_detail .part_thumb_1 .piece{ }
.section_blog_detail .part_thumb_1 .piece:not(:nth-child(4n-4)){margin-right:0px;}
.section_blog_detail .part_thumb_1 .piece:not(:nth-child(3n-3)){margin-right:34px;}

@include breakpoint($pad){
    
    .section_blog_detail .part_thumb_1 .piece{ width: 230px; min-height:368px;}
    .section_blog_detail .part_thumb_1 .piece:not(:nth-child(3n-3)){margin-right:13px;}
}

@include breakpoint($mobile){
    .section_blog_detail .part_thumb_1 .piece{ width: 48%; min-height:290px; margin-bottom:30px; }
    .section_blog_detail .part_thumb_1 .piece:not(:nth-child(3n-3)){margin-right:0px;}
    .section_blog_detail .part_thumb_1 .piece:not(:nth-child(2n-2)){margin-right:2%;}
}


